/* Global */
:root {
}
body {
}
h1 {
  font-family: "Bebas Neue", cursive;
  color: red;
  font-size: 75px;
  margin-top: 50px;
}
.whiteBG {
  background-color: white;
  padding: 30px 20px 10px;
}

/* Password Display Section */
#displayBox {
  height: 200px;
  border: 2px dashed blue;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 8px;
  font-size: 16px;
  word-break: break-all;
}
.displayTextBefore {
  opacity: 0.5;
}
.copyBtn {
  display: flex;
  justify-content: flex-end;
}

/* Form styles */
.clickMe {
  padding: 10px 15px;
  background-color: blue;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  margin-bottom: 15px;
}
.formContainer {
  height: 200px;
  margin-bottom: 15px;
}
#passwordLength {
  width: 100%;
  padding: 4px 8px;
  border: 1px solid blue;
  border-radius: 8px;
}

/* Media queries */
@media screen and (max-width: 991px) {
  .copyBtn {
    justify-content: flex-start;
  }
  .formContainer {
    height: auto;
  }
  h1 {
    font-size: 35px;
    margin-top: 20px;
    text-align: center;
  }
}
