/* Global */
:root {
  --gradient: linear-gradient(45deg, #039cd5, #1545cb, #6c0cb4, #010520);
  --mainColor: #5012af;
}
body {
  background-image: var(--gradient);
  background-size: 200%;
  background-position: right;
  background-repeat: no-repeat;
  animation: gradientAnimate 12s ease-in infinite alternate;
}
@keyframes gradientAnimate {
  0% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
section {
  min-height: 100vh;
}
h1 {
  font-family: "Bebas Neue", cursive;
  color: white;
  font-size: 75px;
  margin-top: 50px;
}
.whiteBG {
  background-color: white;
  padding: 30px 20px 10px;
}

/* Password Display Section */
#displayBox {
  min-height: 225px;
  border: 2px dashed var(--mainColor);
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 8px;
  font-size: 16px;
  word-break: break-all;
}
.displayTextBefore {
  opacity: 0.5;
}
.copyBtn {
  display: flex;
  justify-content: flex-end;
}

/* Form styles */
.clickMe {
  padding: 10px 15px;
  background-color: var(--mainColor);
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  margin-bottom: 15px;
}
.formContainer {
  min-height: 225px;
  margin-bottom: 15px;
}
#passwordLength {
  width: 100%;
  padding: 4px 8px;
  border: 1px solid var(--mainColor);
  border-radius: 8px;
  margin-bottom: 15px;
}

/* Media queries */
@media screen and (max-width: 991px) {
  .copyBtn {
    justify-content: flex-start;
  }
  .formContainer {
    min-height: auto;
  }
  h1 {
    font-size: 35px;
    margin-top: 20px;
    text-align: center;
  }
}
